/*Container*/
.show-case {
  width: 1200px;    
  overflow: hidden;
}
.show-case .container{ 
  width: 890px; 
  border-radius: 10px;
  overflow: overlay;
  box-shadow: 2px 2px 5px #D5D9DC;
  height: 320px;
  position: absolute;
  border: 2px solid #D5D9DC;  
  pointer-events: none;
}
.show-case .container .body,
.show-case .container .scroll{
  float: left;
  height: 269px;
  width: 92%;
}

.show-case .container .footer{
  width: 100%;
  height: 20px;
  background: linear-gradient(rgba(239, 247, 254, 0), #E5F1FB);
  float: left;
  bottom: 0;
  position: absolute;
}

.show-case .body{
  height: 245px;
}

/*Overflow div itens*/
.show-case .overflow{
  float: left;
  width: 311px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.78);
}


/*Reference Item*/
.show-case .reference{
  margin-top: 32px;
  position: relative;
}
.show-case .reference .body{
  padding: 6px;
  background: white;
  border-left: 2px solid #D5D9DC;    
  border-right: 1px solid #D5D9DC;    
}
.show-case .reference-header,
.show-case .reference{
  float: left;
  width: 190px;  
}

/*Recommendation items*/
.show-case .recommendation-header{
  float: right;
  width: 700px;
}
.show-case .recommendation{
  float: left;
  width: 699px;
  margin-top: 32px;
}
.show-case .recommendation .scroll{
  width: 2200px;
  transition: 1s;  
}
.show-case .recommendation .next{
  cursor: pointer;
  width: 8%;
  height: 269px;  
  position: relative;
  left: 644px;
  background-color: white;  
  background: -webkit-linear-gradient(left, #EFF7FE, #E5F1FB);
  background: -o-linear-gradient(left, #EFF7FE, #E5F1FB);
  background: -moz-linear-gradient(left, #EFF7FE, #E5F1FB);
  background: linear-gradient(to right, rgba(239, 247, 254, 0) -25%, #ffffff 42%);
}
.show-case .recommendation .body{
  float: left;
  padding: 6px;
  width: 170px;
}

/*Headers*/
.show-case .reference-header,
.show-case .recommendation-header{  
  background: #EFF7FE;
  background: -webkit-linear-gradient(#EFF7FE, #E5F1FB);
  background: -o-linear-gradient(#EFF7FE, #E5F1FB);
  background: -moz-linear-gradient(#EFF7FE, #E5F1FB);
  background: linear-gradient(#EFF7FE, #E5F1FB); 
  font-family: Arial, Verdana, "Times New Roman";
  color: #00669F;
  font-weight: bold;
  font-size: 18px;  
}
.recommendation-header p {
  margin-left: 20px;
}
.show-case .reference-header p,
.show-case .recommendation-header p{
  font-family: Arial, Verdana, "Times New Roman";
  color: #00669F;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

/*Items style*/
.show-case .body:hover{
  background: linear-gradient(#D7EAF9, #FFFFFF);
}
.show-case .body:hover img{
  border: 2px solid #D5D9DC;
}

.show-case .item{
  width: 135px;
  cursor: pointer;
}
.show-case .body .item{
  margin-left: auto;
  margin-right: auto;    
}
.show-case .item img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.show-case .item .name{
  font-size: 12px;
  margin-bottom: 10px;
}
.show-case .item .old-price{
  font-size: 12px;
}
.show-case .item .price{
  color: #CC0000;
}
.show-case .item .price span{
  font-weight: bold;
  font-size: 19px;
}
.show-case .item .payment-conditions{
  color: #CC0000;
}